body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px 170px;
  text-align: center;
  overflow-x: hidden;
}

.popular-artists, .popular-albums {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

h2 {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8em;
  margin-bottom: 15px
}

/* 가로 스크롤을 위한 스타일 */
.artist-list, .album-list {
  display: flex; /* 가로 정렬 유지 */
  flex-wrap: nowrap; /* 한 줄 유지 (슬라이드) */
  gap: 8px;
  width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  scroll-snap-type: x mandatory; /* 부드러운 스크롤 */
  scrollbar-width: none;
  padding: 10px;
}

/* 스크롤바 숨기기 */
.artist-list::-webkit-scrollbar, .album-list::-webkit-scrollbar {
  display: none;
}

/* 개별 아이템 크기 고정 */
.artist, .album {
  flex: 0 0 calc(100% / 6); 
  height: 250px; 
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 아티스트 이미지는 원형 */
.artist img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

/* 앨범 이미지는 정사각형 */
.album img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

/* 반응형 설정: 화면 작아질 때 크기 조정 */

/* 440px 이하에서는 2개만 보이도록 설정 */
@media screen and (max-width: 440px) {
  .artist, .album {
    flex: 0 0 calc(100% / 2); /* 2개 보이게 설정 */
  }
  .artist-list, .album-list {
    justify-content: space-between; 
  }
  body {
    padding: 10px; 
  }
}

@media screen and (max-width: 1181px) {
  .artist, .album {
    flex: 0 0 calc(100% / 4); 
  }
  .artist-list, .album-list {
    justify-content: space-between; 
  }
  body {
    padding: 20px;
  }
}

@media screen and (max-width: 1368px) {
  .artist, .album {
    flex: 0 0 calc(100% / 5); /* 5개 보이게 설정 */
  }
  .artist-list, .album-list {
    justify-content: space-between;
  }
  body {
    padding: 1px;
  }
}


